
.action-toolbar__option {
	position:relative;
}
.dropdown-bubble {
    position:absolute;
    bottom:0;
    left:0;
    background-color:#e15915;
    height:320px !important;
    width:100% !important;
	&:after {
	    content:'';
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    width: 0;
	    height: 0;
	    border-top: solid 50px #e15915;
	    border-left: solid 50px transparent;
	    border-right: solid 50px transparent;
    }
}

/* SASS wasn't compiling so css is in the defualt.css folder in a rough order of how it compiles */ 